@{
    ViewData["Title"] = "Contact Us";
}
<!-- Contact Section -->
<section id="contact" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center mb-4 mb-lg-0">
                <img src="https://i.pinimg.com/564x/6f/ad/14/6fad14febab9ec381cae32fe77e4a7be.jpg"
                     style="height: 20rem; width: 20rem; object-fit: cover; border-radius: 15px;" alt="Contact Image"
                     class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="mb-1">Phone: (+84) 929 435 927</p>
                        <p class="mb-1">Email: vanqbps28709@fpt.edu.vn</p>
                        <p>Address: 45 HIGHWAY, CA, USA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- About Us Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-12 intro-text text-center">
                <h1>Our Teams</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sint temporibus natus optio eveniet nobis
                    accusantium?
                </p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img src="https://i.pinimg.com/564x/b3/9d/5b/b39d5bb7ee81d3f0d52010e5eeb8bd8c.jpg"
                         style="width: 20rem;height: 20rem;" alt="" class="img-fluid rounded-circle py-4">
                    <div class="team-member-content">
                        <h4 class="mb-0">Thiện Nguyễn</h4>
                        <p class="mb-0">FOUNDER</p>
                    </div>
                </div>
            </div>
            <!-- Add more team members as needed -->
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img src="https://i.pinimg.com/564x/10/0a/71/100a71ce980a86c1d5927a19b84bc857.jpg"
                         style="width: 20rem;height: 20rem;" alt="" class="img-fluid rounded-circle py-4">
                    <div class="team-member-content">
                        <h4 class="mb-0">YunEddy</h4>
                        <p class="mb-0">CO-FOUNDER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img src="https://i.pinimg.com/564x/cd/82/82/cd8282bfff630b302c798a5f58aeba77.jpg"
                         style="width: 20rem;height: 20rem;" alt="" class="img-fluid rounded-circle py-4">
                    <div class="team-member-content">
                        <h4 class="mb-0">Nabby Nguyễn</h4>
                        <p class="mb-0">Member</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img src="https://i.pinimg.com/564x/3c/dc/78/3cdc7862617f15e05411186eebf1702b.jpg"
                         style="width: 20rem;height: 20rem;" alt="" class="img-fluid rounded-circle py-4">
                    <div class="team-member-content">
                        <h4 class="mb-0">John Nguyễn</h4>
                        <p class="mb-0">Member</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
