@using QuanBichVanPS28709_ASM.Models.CategoryDto
@{
    IEnumerable<GetCategoryToView> categories = ViewBag.Categories;
}

<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanBichVanPS28709_ASM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuanBichVanPS28709_ASM.styles.css" asp-append-version="true" />
    <link href="~/css/main.css rel=" stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="bg-dark dark:bg-gray-900">
        <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
            <a class="block text-teal-600" href="#">
                <span class="sr-only">home</span>
                <svg class="h-8" viewbox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="m0.41 10.3847c1.14777 7.4194 2.85643 4.7861 5.2639 2.90424c7.6714 1.02234 10.6393 0 13.695 0c16.7507 0 19.7186 1.02234 22.1261 2.90424c24.5336 4.7861 26.2422 7.4194 26.98 10.3847h25.78c23.7557 10.3549 21.7729 10.9599 20.11 12.1147c20.014 12.1842 19.9138 12.2477 19.81 12.3047h19.67c19.5662 12.2477 19.466 12.1842 19.37 12.1147c17.6924 10.9866 15.7166 10.3841 13.695 10.3841c11.6734 10.3841 9.6976 10.9866 8.02 12.1147c7.924 12.1842 7.8238 12.2477 7.72 12.3047h7.58c7.4762 12.2477 7.376 12.1842 7.28 12.1147c5.6171 10.9599 3.6343 10.3549 1.61 10.3847h0.41zm23.62 16.6547c24.236 16.175 24.9995 15.924 25.78 15.9447h27.39v12.7347h25.78c24.4052 12.7181 23.0619 13.146 21.95 13.9547c21.3243 14.416 20.5674 14.6649 19.79 14.6649c19.0126 14.6649 18.2557 14.416 17.63 13.9547c16.4899 13.1611 15.1341 12.7356 13.745 12.7356c12.3559 12.7356 11.0001 13.1611 9.86 13.9547c9.2343 14.416 8.4774 14.6649 7.7 14.6649c6.9226 14.6649 6.1657 14.416 5.54 13.9547c4.4144 13.1356 3.0518 12.7072 1.66 12.7347h0v15.9447h1.61c2.39051 15.924 3.154 16.175 3.77 16.6547c4.908 17.4489 6.2623 17.8747 7.65 17.8747c9.0377 17.8747 10.392 17.4489 11.53 16.6547c12.1468 16.1765 12.9097 15.9257 13.69 15.9447c14.4708 15.9223 15.2348 16.1735 15.85 16.6547c16.9901 17.4484 18.3459 17.8738 19.735 17.8738c21.1241 17.8738 22.4799 17.4484 23.62 16.6547zm23.62 22.3947c24.236 21.915 24.9995 21.664 25.78 21.6847h27.39v18.4747h25.78c24.4052 18.4581 23.0619 18.886 21.95 19.6947c21.3243 20.156 20.5674 20.4049 19.79 20.4049c19.0126 20.4049 18.2557 20.156 17.63 19.6947c16.4899 18.9011 15.1341 18.4757 13.745 18.4757c12.3559 18.4757 11.0001 18.9011 9.86 19.6947c9.2343 20.156 8.4774 20.4049 7.7 20.4049c6.9226 20.4049 6.1657 20.156 5.54 19.6947c4.4144 18.8757 3.0518 18.4472 1.66 18.4747h0v21.6847h1.61c2.39051 21.664 3.154 21.915 3.77 22.3947c4.908 23.1889 6.2623 23.6147 7.65 23.6147c9.0377 23.6147 10.392 23.1889 11.53 22.3947c12.1468 21.9165 12.9097 21.6657 13.69 21.6847c14.4708 21.6623 15.2348 21.9135 15.85 22.3947c16.9901 23.1884 18.3459 23.6138 19.735 23.6138c21.1241 23.6138 22.4799 23.1884 23.62 22.3947z"
                          fill="currentcolor" />
                </svg>
            </a>
            <span style="color: white;">yun store</span>

            <div class="flex flex-1 items-center justify-end md:justify-between">
                <div class="form-control" style="margin-left: 2rem;">
                    <input type="text" placeholder="search" class="input input-bordered w-24 md:w-auto" />
                </div>
                <div class="col-md-6">
                    <!-- adjust the column width as per your requirement -->
                    <div class="d-flex justify-content-end">
                        <a class="btn rounded-pill bg-light text-secondary border-0 shadow-sm hover-text-dark me-2">
                            <span class="visually-hidden">notifications</span>
                            <i class="bi bi-bell-fill" style="color: black;"></i>
                        </a>
                        <a class="btn rounded-pill bg-light text-secondary border-0 shadow-sm hover-text-dark me-2">
                            <span class="visually-hidden">favorites</span>
                            <i class="bi bi-box2-heart" style="color: black;"></i>
                        </a>
                        <a asp-area="customer" asp-action="index" asp-controller="cart"
                           class="btn rounded-pill bg-light text-secondary border-0 shadow-sm hover-text-dark me-2">
                            <span class="visually-hidden">cart</span>
                            <i class="bi bi-cart3" style="color: black;"></i>
                        </a>
                    </div>
                </div>
                <partial name="_loginpartial" />

            </div>
        </div>
    </header>
    <nav class="row">
        <img class="pull-right"
             src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/03/banner/1920x450--1--1920x450.jpg"
             alt="Banner Big Campaign">
        <div 
            class="taskbar"
            id="custom-navbar">
            <nav 
                class="navbar navbar-expand-lg navbar-dark bg-black"
            >
                <div 
                    class="navbar-collapse" 
                    id="navbarNavDropdown" style="justify-content: center;"
                    >
                    <ul 
                        class="navbar-nav"
                    >
                        <li class="nav-item active">
                            <a class="nav-link" style="color: white;" asp-area="Customer" asp-action="Index" asp-controller="Home">
                                <i class="bi bi-house-door-fill">
                                </i>Home
                            </a>
                        </li>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="color: white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Product
                                </a>
                                <ul class="dropdown-menu">
                                    @{
                                        foreach (var item in categories)
                                        {
                                            <li><a class="dropdown-item" asp-area="Customer" asp-action="Index" asp-controller="Product" asp-route-id="@item.Id"> @item.CategoryName</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="Customer" asp-action="Index" asp-controller="Home"> <i class="bi bi-fire"> </i> On Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" asp-area="Customer" asp-action="Contact" asp-controller="Home"> <i class="bi bi-envelope-fill"> </i> Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - QuanBichVanPS28709_ASM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <footer class="text-center text-lg-start text-muted mt-5" style="background-color:black;">
        <div class="footer-top">
            <div class="container pt-4 pb-4">
                <div class="row gy-5">
                    <div class="col-lg-4">
                        <a class="warning" style="font-size: 2rem;">YunEddy</a>
                        <p style="color: rgb(187, 187, 187);">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit architecto unde
                            magnam.
                        </p>
                        <div class="social-links text-white">
                            <a href="#" target=""><i class="ri-facebook-circle-fill"></i></a>
                            <a href="#" target=""><i class="ri-instagram-fill"></i></a>
                            <a href="#" target=""><i class="ri-links-fill"></i></a>
                            <a href="#" target=""><i class="ri-youtube-fill"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 ms-auto">
                        <h6 class="text-warning mb-4">Find Us At</h6>
                        <p class="text-white mb-1">Phone: (+84) 929 435 927</p>
                        <p class="text-white mb-1">Email: vanqbps28709@fpt.edu.vn</p>
                        <p class="text-white mb-0">
                            Address: 45 HIGHWAY, CA, USA
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <h6 class="text-warning mb-4">Time Open</h6>
                        <p class="text-white mb-1">Monday to Friday: 10am - 9pm</p>
                        <p class="text-white">Saturday to Sunday: 9am - 9pm</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@* <script src="https://cdn.tailwindcss.com"></script> *@
<script>
    console.log("test");
    function togglePasswordVisibility(inputId, iconId) {
        const passwordInput = document.getElementById(inputId);
        const eyeIcon = document.getElementById(iconId);

        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        eyeIcon.classList.toggle('bi-eye');
        eyeIcon.classList.toggle('bi-eye-slash');
    }

    document.getElementById('togglePassword').addEventListener('click', () => {
        togglePasswordVisibility('passwordForRegistration', 'eye');
    });

    document.getElementById('toggleConfirmPassword').addEventListener('click', () => {
        togglePasswordVisibility('confirmPasswordForRegistration', 'eyeConfirm');
    });
</script>
@await RenderSectionAsync("Scripts", required: false)
</html>
