@using Microsoft.AspNetCore.Identity
@using Persistence.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="flex items-center justify-content-center gap-4">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" style="width:8rem;">
             <div >
                <img alt="Man"
                     src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                     class="img-fluid rounded-circle"
                     style="width: 37px; height: 37px; object-fit: cover;" />
            </div>
        </a>

        <form id="logoutForm" class="btn rounded-pill bg-light text-secondary border-0 shadow-sm hover-text-dark me-2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "customer" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </div>

}
else
{
    <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
            <a class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
    </div>





}

