@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SignIn";
}
<section>
    <div class="menu">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <form action="#" class="mt-4 p-4 rounded-lg shadow-lg" style="height: 30rem;justify-content: center;display: grid; justify-content: space-around; align-items: center;">
                        <h2 class="text-center mb-3 text-dark bg-light font-bold" style="margin-top:1rem;">Sign in to your account</h2>
                        <div class="mb-2">
                            <label for="email" class="form-label sr-only">Email</label>
                            <div class="input-group">
                                <input type="email" class="form-control form-control-lg" id="email" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="password" class="form-label sr-only">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">Sign in</button>
                        <p class="text-center text-muted text-lg">No account? <a asp-action="SignUp" asp-controller="Sign" class="text-decoration-none">Sign up</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


